:root {
  --main-tittle-color: #ffffff;
  --second-tittle-color: #303030;
  --main-top-text-color: rgba(157, 164, 189, 0.6);
  --second-top-text-color: #303030;
  --main-text-color: #555555;
  --first-text-color: #ffffff;
  --second-text-color: #9da4bd;
  --third-text-color: #303030;
  --main-btn-color: #ff6c00;
  --second-btn-color: #ffffff;
  --main-BG-color: #ffffff;
  --accent: #ff6c00;
  --transition-duration: 300ms;
  --transition-timing-function: cubic-bezier(0.03, 0.7, 0.93, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-BG-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent);
  background-color: transparent;
  border-radius: 30px;
}

.title {
  font-family: "Raleway";
  font-size: 42px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--second-tittle-color);
}

.top-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.91;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--second-top-text-color);
}
@media screen and (min-width: 768px) {
  .top-text {
    line-height: 1.36;
  }
}
.top-text--light {
  color: rgba(157, 164, 189, 0.6);
}
.top-text--dark {
  color: #303030;
}

.top-text::before {
  content: " ";
  height: 1px;
  width: 60px;
  background-color: currentColor;
  margin-right: 20px;
  flex-shrink: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.551);
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 300ms ease, visibility 300ms ease;
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px 94px 15px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  overflow-y: auto;
}
@media screen and (max-width: 767px) {
  .modal {
    position: relative;
    opacity: 1;
    transition: opacity 250ms ease;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
    transition: transform 250ms ease;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__close-btn:hover .modal__close-icon, .modal__close-btn:focus .modal__close-icon {
  fill: var(--accent);
}

.no-scroll {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .no-scroll .mobile-menu {
    transform: translateX(100%);
  }
}

.modal__title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.16;
  margin-bottom: 15px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__field--comment {
  margin-bottom: var(--tipycal-margin);
}

.modal-form__input {
  font-size: 16px;
  width: 100%;
  height: 45px;
  border: 1px solid #999;
  border-radius: 5px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #171a24;
}
.modal-form__field:focus-within .modal-form__input, .modal-form__field:hover .modal-form__input {
  border-color: var(--accent);
  outline: none;
}

.modal-form__label {
  display: block;
  font-size: 14px;
  color: #171a24;
  margin-bottom: 4px;
}

.modal-form__comment {
  width: 100%;
  height: 100px;
  padding: 12px 16px;
  border: 1px solid #999;
  border-radius: 5px;
  resize: none;
}
.modal-form__field:focus-within .modal-form__comment, .modal-form__field:hover .modal-form__comment {
  border-color: var(--accent);
  outline: none;
}
.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input-wrap {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.modal-form__field:focus-within .modal-form__icon, .modal-form__field:hover .modal-form__icon {
  fill: var(--accent);
}

.modal-form__field--checkbox {
  margin-bottom: 40px;
}

.modal-form__label--checkbox {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-form__label--checkbox::before {
  content: "";
  width: 16px;
  height: 15px;
  flex-shrink: 0;
  border: 2px solid #090b13;
  border-radius: 3px;
  margin-right: 7px;
}
.modal-form__checkbox:checked + .modal-form__label--checkbox::before {
  border: none;
  background-color: var(--accent);
  background-image: url(../images/checked.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.modal-form__checkbox:focus + .modal-form__label--checkbox::before {
  border-color: var(--accent);
}

.modal-form__btn {
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: var(--second-color-btn);
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.header .container {
  display: flex;
  align-items: center;
}

.header__logo {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__logo {
    fill: #303030;
    margin-right: 60px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: baseline;
  }
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: var(--first-text-color);
}

@media screen and (min-width: 768px) {
  .header__item:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item:not(:last-child) {
    margin-right: 40px;
  }
}

.header__link {
  color: inherit;
  width: 100%;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header__link:hover,
.header__link:focus,
.header-soc__tell:hover,
.header-soc__tell:focus {
  color: var(--accent);
}

.header-soc {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-soc {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-soc {
    flex-direction: row;
  }
}

.header-soc__item {
  color: var(--first-text-color);
}

@media screen and (min-width: 1200px) {
  .header-soc__item:not(:last-child) {
    margin-right: 65px;
  }
}

.header-soc__tell {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.header-soc__tell:hover, .header-soc__tell:focus {
  color: var(--accent);
}
@media screen and (min-width: 1200px) {
  .header-soc__tell {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__btn {
  color: inherit;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 768px) {
  .header__btn {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__btn {
    margin-bottom: 0;
    margin-left: 40px;
  }
}

.header__btn:hover,
.header__btn:focus {
  background-color: var(--main-btn-color);
}

.header__menu-open-btn,
.mobile-menu__close-btn {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms ease;
}
.header__menu-open-btn:hover, .header__menu-open-btn:focus,
.mobile-menu__close-btn:hover,
.mobile-menu__close-btn:focus {
  fill: var(--accent);
}

.header__menu-open-btn {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__menu-open-btn {
    display: none;
  }
}

.mobile-menu__close-btn {
  margin-bottom: 30px;
}

.mobile-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 90vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 61px;
  background-color: #ffffff;
  transform: translateX(0);
  transition: transform 250ms ease;
}

body.modal-open .mobile-menu {
  z-index: 0;
}

.mobile-menu__bottom,
.mobile-menu__top {
  width: 100%;
}

.mobile-menu.is-hidden {
  transform: translateX(100%);
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.mobile-menu__list {
  margin-bottom: 40px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__connect {
  margin-bottom: 64px;
}

.mobile-menu__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.1em;
  color: #303030;
  transition: color 250ms ease;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent);
}

.mobile-menu__tel {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  transition: color 250ms ease;
}
.mobile-menu__tel:hover, .mobile-menu__tel:focus {
  color: var(--accent);
}

.mobile-menu__btn {
  display: block;
  margin-top: 24px;
  color: "#303030";
}

.mobile-menu__soc-list {
  position: relative;
  padding-left: 100px;
}
.mobile-menu__soc-list::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.mobile-menu__soc-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__soc-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms ease;
}
.mobile-menu__soc-link:hover, .mobile-menu__soc-link:focus {
  color: var(--accent);
}

.hero .container {
  width: 100%;
  display: flex;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container {
    width: 1200px;
  }
}

.hero-soc {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-soc {
    display: flex;
    align-items: flex-end;
    width: 90px;
  }
}

@media screen and (min-width: 768px) {
  .hero__list {
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translate(-19px);
    transform-origin: top left;
    transition: color 300ms ease;
  }
  .hero__list::before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: #303030;
  }
}

@media screen and (min-width: 768px) {
  .hero__item {
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .hero__link {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--third-text-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .hero__link:hover, .hero__link:focus {
    color: var(--accent);
  }
}

.hero-wrapper {
  background-color: #303030;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero3-mobile@2x.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 208px 31px 183px;
  flex-grow: 1;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-wrapper {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero3-mobile@2x.jpeg);
  }
}
@media screen and (min-width: 768px) {
  .hero-wrapper {
    padding: 280px 70px 234px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero3-tablet.jpeg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-wrapper {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero3-tablet@2x.jpeg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-wrapper {
    padding: 272px 96px 206px 96px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero3-desktop.jpeg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-wrapper {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero3-desktop@2x.jpeg);
  }
}

.hero__top-text {
  color: var(--second-text-color);
}

.hero__top-text::before {
  content: " ";
  height: 1px;
  width: 63px;
  background-color: currentColor;
  margin-right: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__title {
  text-align: left;
  color: var(--main-tittle-color);
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 479px) {
  .hero__title {
    font-size: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero__text {
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  max-width: 306px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    max-width: 349px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    max-width: 400px;
  }
}

.us {
  padding-top: 130px;
  padding-bottom: 130px;
}

.us .container {
  display: flex;
}

.us__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .us__list {
    display: block;
    margin-right: 30px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1200px) {
  .us__list {
    display: flex;
    margin-right: 64px;
  }
}

@media screen and (min-width: 768px) {
  .us__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .us__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.us__text-wrapper {
  max-width: 466px;
  text-align: left;
}

.us__title {
  margin-bottom: 20px;
  text-align: left;
}

.us__sub-text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
}

.us__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4444444444;
  letter-spacing: 0.02em;
}

.us__btn {
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}

.us__btn:hover,
.us__btn:focus {
  background-color: var(--accent);
  color: var(--second-btn-color);
}

.prices {
  background-color: #111319;
  padding-top: 84px;
  padding-bottom: 84px;
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(../img/prices-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(../imgs/prices-bg-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .prices {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/prices-bg-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../img/prices-bg-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url(../img/prices-bg-desktop.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../img/prices-bg-desktop@2x.png);
  }
}

.prices__top-text {
  color: var(--main-top-text-color);
}

.prices__title {
  margin-bottom: 44px;
  color: var(--main-tittle-color);
  text-align: left;
}

.prices__wrrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .prices__wrrap {
    padding: 30px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .prices__wrrap {
    display: flex;
    flex-direction: row;
    background-image: none;
  }
}

@media screen and (min-width: 1200px) {
  .prices__list {
    flex-grow: 1;
    padding: 30px 40px;
  }
  .prices__list--light {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    margin-right: 20px;
  }
  .prices__list--dark {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--second-text-color);
}
.prices__item:last-child {
  margin-bottom: 0;
}
.prices__item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices__text {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 479px) {
  .prices__text {
    font-size: 11px;
  }
}
@media screen and (min-width: 768px) {
  .prices__text {
    font-size: 18px;
    line-height: 1.67;
  }
}
.prices__text:first-child {
  order: -1;
}

.prices__btn {
  color: var(--second-btn-color);
  display: block;
  margin: 0 auto;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.prices__btn:hover,
.prices__btn:focus {
  background-color: var(--accent);
}

.benefits {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 143px;
    padding-bottom: 137px;
  }
}

.benefits .container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .benefits .container {
    flex-direction: row;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    margin-left: 0;
    margin-right: 130px;
    flex-shrink: 0;
  }
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 193px;
  height: 133px;
  border: none;
  background-color: #f7f7f7;
  padding: 20px 32px;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-align: center;
  color: var(--third-text-color);
}
@media screen and (max-width: 479px) {
  .benefits__item {
    width: calc((100% - 15px) / 2);
  }
}

.benefits__item:nth-child(odd) {
  margin-right: 30px;
}
@media screen and (max-width: 479px) {
  .benefits__item:nth-child(odd) {
    margin-right: 15px;
  }
}

.benefits__item:nth-child(even) {
  margin-top: 30px;
}
@media screen and (max-width: 479px) {
  .benefits__item:nth-child(even) {
    margin-top: 15px;
  }
}

.benefits__span {
  display: flex;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--third-text-color);
}
@media screen and (max-width: 479px) {
  .benefits__span {
    font-size: 36px;
  }
}

.benefits__span::after {
  content: "+";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  text-align: center;
  align-self: flex-start;
  margin-left: 2px;
  color: var(--accent);
}
@media screen and (max-width: 479px) {
  .benefits__span::after {
    font-size: 36px;
  }
}

.benefits__item-text {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits__wrap {
  margin-bottom: 44px;
}

.benefits__title {
  text-align: left;
  max-width: 412px;
}

.benefits__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.masters {
  background-color: #f7f7f7;
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .masters {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .masters {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.masters .container {
  display: flex;
  flex-direction: column;
}

.masters__top-text {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .masters__top-text {
    text-align: left;
  }
}

.masters__subtitle {
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.masters__title {
  margin-bottom: 44px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .masters__title {
    text-align: left;
  }
}

.masters__list {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 64px;
}
@media screen and (min-width: 1200px) {
  .masters__list {
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .masters__list {
    flex-direction: row;
    gap: 30px;
  }
}

.masters__item {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .masters__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.masters__img {
  margin-bottom: 30px;
}

.masters__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
}

.masters__job {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  color: var(--accent);
}

.masters-soc__list {
  display: flex;
  justify-content: center;
}

.masters-soc__item {
  width: 44px;
  height: 44px;
  background-color: var(--main-BG-color);
  border-radius: 50%;
  margin-right: 10px;
}
.masters-soc__item:last-child {
  margin-right: 0;
}

.masters-soc__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.masters-soc__link:hover,
.masters-soc__link:focus {
  color: var(--accent);
}

.masters__icon--instagram {
  fill: currentColor;
}

.masters__icon--twitter {
  fill: currentColor;
}

.masters__icon--facebook {
  fill: currentColor;
}

.masters__icon--linkedin {
  fill: currentColor;
}

.jobs {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .jobs {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .jobs {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.jobs__top-text {
  margin-bottom: 44px;
}

.jobs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.contact-wrap {
  background-color: #191c26;
  background-image: url(../images/contacts-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% calc(50% - 32px);
  max-width: 1280px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contact-wrap {
    background-image: url(../img/contacts-bg-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .contact-wrap {
    background-image: url(../img/contacts-bg-tablet.png);
    background-size: 100% calc(50% - 53px);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contact-wrap {
    background-image: url(../img/contacts-bg-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .contact-wrap {
    background-size: calc(50% - 15px);
    background-position: right;
    background-image: url(../img/contacts-bg-desktop.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contact-wrap {
    background-image: url(../img/contacts-bg-desktop@2x.png);
  }
}

.contact-wrap__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .contact-wrap__container {
    flex-direction: row;
  }
}

.info {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .info {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .info {
    padding-top: 130px;
    padding-bottom: 130px;
    width: calc(50% + 15px);
    height: auto;
    padding-right: 40px;
  }
}

.info-form__title {
  color: var(--main-tittle-color);
  margin-bottom: 44px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .info-form__title {
    text-align: left;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-name__field,
.form-tell__field {
  position: relative;
  width: 100%;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .form-name__field,
  .form-tell__field {
    width: 330px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .form-name__field,
  .form-tell__field {
    width: 265px;
  }
}

.input {
  width: 100%;
  height: 24px;
  border: none;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  transition: border-color 300ms linear;
  color: rgba(190, 193, 202, 0.8);
  transition: border-bottom var(--transition-duration) var(--transition-timing-function);
}

.input:hover,
.input:focus {
  border-bottom: 1px solid var(--first-text-color);
}

.input:hover + .label,
.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  color: var(--first-text-color);
  transform: translateY(-100%);
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: transform var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}
.online-form__input:focus + .label, .online-form__input:not(:placeholder-shown) + .label, .online-form__comment:focus + .label, .online-form__comment:not(:placeholder-shown) + .label {
  color: #ffffff;
  transform: translateY(-100%);
}

.form-text__field {
  position: relative;
  width: 100%;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .form-text__field {
    margin-top: 44px;
  }
}

.form-text {
  width: 100%;
  height: 76px;
  padding: 8px;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  transition: border-color 250ms linear;
  resize: none;
}
.form-text:focus {
  border-color: #ffffff;
}

.info-form__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: var(--second-btn-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 768px) {
  .info-form__btn {
    margin-left: 0;
  }
}

.info-form__btn:hover,
.info-form__btn:focus {
  background-color: var(--main-btn-color);
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--accent);
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

.contacts {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-top: 134px;
    padding-bottom: 134px;
    width: calc(50% - 15px);
    padding-left: 100px;
  }
}

.contacts__title {
  color: var(--main-tittle-color);
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    text-align: left;
  }
}

.address {
  font-style: normal;
}

.address__list {
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .address__list {
    margin-bottom: 70px;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 30px;
}

.address__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.address__link:hover {
  color: var(--accent);
}

.icon-map {
  fill: currentColor;
  margin-right: 15px;
}

.icon-phone {
  fill: currentColor;
  margin-right: 15px;
}

.icon-mail {
  fill: currentColor;
  margin-right: 15px;
}

.contacts__top-text {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-tittle-color);
}

.contacts__text {
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__content-wrap {
    display: flex;
    justify-content: space-between;
  }
}

.footer .container {
  display: flex;
  padding-top: 55px;
  padding-bottom: 55px;
}
@media screen and (max-width: 479px) {
  .footer .container {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    height: auto;
    align-items: center;
  }
}

.footer__copy {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}
@media screen and (max-width: 479px) {
  .footer__copy {
    align-self: flex-start;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__copy {
    align-self: flex-end;
  }
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__list {
    align-self: flex-start;
  }
}

.footer__list::before {
  content: " ";
  height: 1px;
  width: 63px;
  background-color: currentColor;
  margin-right: 21px;
}

.footer__item + .footer__item {
  margin-left: 40px;
}

.footer__link {
  color: inherit;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent);
}/*# sourceMappingURL=main.css.map */