.footer .container {
  display: flex;
  padding-top: 55px;
  padding-bottom: 55px;

  @media screen and (max-width: 479px) {
    flex-direction: column-reverse;
  }

  @include tablet {
    height: auto;
    align-items: center;
  }
}
.footer__copy {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--second-text-color);

  @media screen and (max-width: 479px) {
    align-self: flex-start;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    align-self: flex-end;
  }
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    align-self: flex-start;
  }
}
.footer__list::before {
  content: ' ';
  height: 1px;
  width: 63px;
  background-color: currentColor;
  margin-right: 21px;
}

.footer__item + .footer__item {
  margin-left: 40px;
}
.footer__link {
  color: inherit;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.footer__link:hover,
.footer__link:focus {
  color: var(--accent);
}
