.contact-wrap {
  background-color: #191c26;
  background-image: url(../images/contacts-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% calc(50% - 32px);
  max-width: 1280px;
  margin: 0 auto;

  @include retina {
    background-image: url(../img/contacts-bg-mobile@2x.png);
  }

  @include tablet {
    background-image: url(../img/contacts-bg-tablet.png);
    background-size: 100% calc(50% - 53px);

    @include retina {
      background-image: url(../img/contacts-bg-tablet@2x.png);
    }
  }

  @include desktop {
    background-size: calc(50% - 15px);
    background-position: right;
    background-image: url(../img/contacts-bg-desktop.png);

    @include retina {
      background-image: url(../img/contacts-bg-desktop@2x.png);
    }
  }
}

.contact-wrap__container {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}
.info {
  padding-top: 84px;
  padding-bottom: 84px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include desktop {
    padding-top: 130px;
    padding-bottom: 130px;
    width: calc(50% + 15px);
    height: auto;
    padding-right: 40px;
  }
}

.info-form__title {
  color: var(--main-tittle-color);
  margin-bottom: 44px;
  text-align: center;

  @include tablet {
    text-align: left;
  }
}
.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-name__field,
.form-tell__field {
  position: relative;
  width: 100%;
  margin-bottom: 44px;

  @include tablet {
    width: 330px;
    margin-bottom: 0;
  }

  @include desktop {
    width: 265px;
  }
}
.input {
  width: 100%;
  height: 24px;
  border: none;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  transition: border-color 300ms linear;
  color: rgba(190, 193, 202, 0.8);
  transition: border-bottom var(--transition-duration)
    var(--transition-timing-function);
}
.input:hover,
.input:focus {
  border-bottom: 1px solid var(--first-text-color);
}
.input:hover + .label,
.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  color: var(--first-text-color);
  transform: translateY(-100%);
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  @include font(11px, 600, 1.36);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: transform var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
  .online-form__input:focus + &,
  .online-form__input:not(:placeholder-shown) + &,
  .online-form__comment:focus + &,
  .online-form__comment:not(:placeholder-shown) + & {
    color: #ffffff;
    transform: translateY(-100%);
  }
}

.form-text__field {
  position: relative;
  width: 100%;

  margin-bottom: 44px;

  @include tablet {
    margin-top: 44px;
  }
}
.form-text {
  width: 100%;
  height: 76px;
  padding: 8px;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  transition: border-color 250ms linear;
  resize: none;

  &:focus {
    border-color: #ffffff;
  }
}

.info-form__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: var(--second-btn-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  @include tablet {
    margin-left: 0;
  }
}
.info-form__btn:hover,
.info-form__btn:focus {
  background-color: var(--main-btn-color);
}
textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--accent);
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
