.jobs {
  padding-top: 84px;
  padding-bottom: 84px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include desktop {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.jobs__top-text {
  margin-bottom: 44px;
}

.jobs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  width: 100%;

  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 90px) / 4);
  }
}
