.masters {
  background-color: #f7f7f7;
  padding-top: 84px;
  padding-bottom: 84px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include desktop {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.masters .container {
  display: flex;
  flex-direction: column;
}
.masters__top-text {
  margin-bottom: 20px;
  text-align: center;
  @include desktop {
    text-align: left;
  }
}
.masters__subtitle {
  margin-top: 30px;
  margin-bottom: 8px;

  @include font(18px, 400, 1.38);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}
.masters__title {
  margin-bottom: 44px;
  text-align: center;

  @include desktop {
    text-align: left;
  }
}

.masters__list {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 64px;
  @include desktop {
    gap: 30px;
  }
  @include desktop {
    flex-direction: row;
    gap: 30px;
  }
}

.masters__item {
  width: 100%;

  @include desktop {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.masters__img {
  margin-bottom: 30px;
}
.masters__subtitle {
  @include font(18px, 400, 1.38);

  text-align: center;
  letter-spacing: 0.02em;
}
.masters__job {
  @include font(14px, null, 1.36);

  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;

  color: var(--accent);
}
.masters-soc__list {
  display: flex;
  justify-content: center;
}
.masters-soc__item {
  width: 44px;
  height: 44px;
  background-color: var(--main-BG-color);
  border-radius: 50%;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.masters-soc__link {
  width: 100%;
  height: 100%;
  @include centered-flex();
  color: var(--third-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}
.masters-soc__link:hover,
.masters-soc__link:focus {
  color: var(--accent);
}

.masters__icon--instagram {
  fill: currentColor;
}
.masters__icon--twitter {
  fill: currentColor;
}
.masters__icon--facebook {
  fill: currentColor;
}
.masters__icon--linkedin {
  fill: currentColor;
}
