.prices {
  background-color: #111319;
  padding-top: 84px;
  padding-bottom: 84px;
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(../img/prices-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: url(../imgs/prices-bg-mobile@2x.png);
  }

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/prices-bg-tablet.png);

    @include retina {
      background-image: url(../img/prices-bg-tablet@2x.png);
    }
  }

  @include desktop {
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url(../img/prices-bg-desktop.png);

    @include retina {
      background-image: url(../img/prices-bg-desktop@2x.png);
    }
  }
}
.prices__top-text {
  color: var(--main-top-text-color);
}

.prices__title {
  margin-bottom: 44px;
  color: var(--main-tittle-color);
  text-align: left;
}
.prices__wrrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  @include tablet {
    padding: 30px 40px;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    background-image: none;
  }
}
.prices__list {
  @include desktop {
    flex-grow: 1;
    padding: 30px 40px;
    &--light {
      background-image: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.2) 100%
      );
      margin-right: 20px;
    }

    &--dark {
      background-image: linear-gradient(
        180deg,
        #090b13 0%,
        rgba(9, 11, 19, 0.2) 100%
      );
    }
  }
}

.prices__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--second-text-color);

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    flex-grow: 1;
    // width: 100px;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: rgba(157, 164, 189, 0.12);
  }
}

.prices__text {
  @include font(14px, null, 2.14);
  letter-spacing: 0.02em;
  @media screen and (max-width: 479px) {
    font-size: 11px;
  }
  @include tablet {
    @include font(18px, null, 1.67);
  }

  &:first-child {
    order: -1;
  }
}
.prices__btn {
  color: var(--second-btn-color);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: block;

  margin: 0 auto;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.prices__btn:hover,
.prices__btn:focus {
  background-color: var(--accent);
}
