.us {
  padding-top: 130px;
  padding-bottom: 130px;
}
.us .container {
  display: flex;
}

.us__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 30px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 64px;
  }
}
.us__item {
  &:not(:last-child) {
    @include tablet {
      margin-bottom: 30px;
    }

    @include desktop {
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
}

.us__text-wrapper {
  max-width: 466px;
  text-align: left;
}

.us__title {
  margin-bottom: 20px;

  text-align: left;
}

.us__sub-text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}
.us__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: calc(26 / 18);
  letter-spacing: 0.02em;
}
.us__btn {
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}
.us__btn:hover,
.us__btn:focus {
  background-color: var(--accent);
  color: var(--second-btn-color);
}
