.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  @include font(12px, 600, 1.33);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent);
  background-color: transparent;
  border-radius: 30px;
}
