:root {
  --main-tittle-color: #ffffff;
  --second-tittle-color: #303030;
  --main-top-text-color: rgba(157, 164, 189, 0.6);
  --second-top-text-color: #303030;
  --main-text-color: #555555;
  --first-text-color: #ffffff;
  --second-text-color: #9da4bd;
  --third-text-color: #303030;
  --main-btn-color: #ff6c00;
  --second-btn-color: #ffffff;

  --main-BG-color: #ffffff;
  --accent: #ff6c00;
  --transition-duration: 300ms;
  --transition-timing-function: cubic-bezier(0.03, 0.7, 0.93, 0.6);
}